In [1]:
import numpy as np
import pandas as pd

r = 0.05  # constant short rate
sigma = 0.5  # volatility factor


def generate_sample_data(rows, cols, freq='1min'):
    '''
    Function to generate sample financial data.

    Parameters
    ==========
    rows: int
        number of rows to generate
    cols: int
        number of columns to generate
    freq: str
        frequency string for DatetimeIndex

    Returns
    =======
    df: DataFrame
        DataFrame object with the sample data
    '''
    rows = int(rows)
    cols = int(cols)
    # generate a DatetimeIndex object given the frequency
    index = pd.date_range('2017-1-1', periods=rows, freq=freq)
    # determine time delta in year fractions
    dt = (index[1] - index[0]) / pd.Timedelta(value='365D')
    # generate column names
    columns = ['No%d' % i for i in range(cols)]
    # generate sample paths for geometric Brownian motion
    raw = np.exp(np.cumsum((r - 0.5 * sigma ** 2) * dt +
                 sigma * np.sqrt(dt) *
                 np.random.standard_normal((rows, cols)), axis=0))
    # normalize the data to start at 100
    raw = raw / raw[0] * 100
    # generate the DataFrame object
    df = pd.DataFrame(raw, index=index, columns=columns)
    return df

In [2]:
rows = 5  # number of rows
columns = 3  # number of columns
freq = 'D'  # daily frequency
print(generate_sample_data(rows, columns, freq))

                   No0         No1         No2
2017-01-01  100.000000  100.000000  100.000000
2017-01-02  100.130459   99.419125   99.519175
2017-01-03   99.314039   99.650937   99.986160
2017-01-04   93.594397  105.278061  103.078546
2017-01-05   94.273752  108.330258  103.455386

In [3]:
data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(2)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2017-01-01 00:00:00 to 2017-01-29 22:26:39
Freq: S
Data columns (total 5 columns):
No0    float64
No1    float64
No2    float64
No3    float64
No4    float64
dtypes: float64(5)
memory usage: 114.4 MB

In [6]:
import tstables
import tables as tb

In [7]:
class desc(tb.IsDescription):
    ''' Description of TsTables table structure.
    '''
    timestamp = tb.Int64Col(pos=0)
    No0 = tb.Float64Col(pos=1)
    No1 = tb.Float64Col(pos=2)
    No2 = tb.Float64Col(pos=3)
    No3 = tb.Float64Col(pos=4)
    No4 = tb.Float64Col(pos=5)

In [10]:
h5 = tb.open_file('data.h5', 'w')

In [11]:
ts = h5.create_ts('/', 'data', desc)
#/Users/ioanwilliams/data.h5

In [15]:
h5

File(filename=data.h5, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2017 (Group) ''
/data/y2017/m03 (Group) ''
/data/y2017/m03/d30 (Group) ''
/data/y2017/m03/d30/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "No0": Float64Col(shape=(), dflt=0.0, pos=1),
  "No1": Float64Col(shape=(), dflt=0.0, pos=2),
  "No2": Float64Col(shape=(), dflt=0.0, pos=3),
  "No3": Float64Col(shape=(), dflt=0.0, pos=4),
  "No4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [13]:
data

                        No0     No1     No2     No3     No4
2017-01-01 00:00:00  100.00  100.00  100.00  100.00  100.00
2017-01-01 00:00:01   99.99  100.00  100.02   99.98  100.00
2017-01-01 00:00:02   99.98  100.00  100.02   99.98   99.99
2017-01-01 00:00:03   99.97  100.00  100.00   99.99   99.99
2017-01-01 00:00:04   99.97  100.01  100.01   99.99   99.98
2017-01-01 00:00:05   99.97  100.02  100.00   99.99   99.96
2017-01-01 00:00:06   99.96  100.01  100.00   99.99   99.98
2017-01-01 00:00:07   99.97  100.01  100.01   99.99   99.97
2017-01-01 00:00:08   99.97   99.99  100.00   99.99   99.96
2017-01-01 00:00:09   99.98   99.99   99.99   99.98   99.95
2017-01-01 00:00:10   99.97  100.00   99.99   99.97   99.95
2017-01-01 00:00:11   99.97   99.97   99.99   99.99   99.97
2017-01-01 00:00:12   99.96   99.97   99.99   99.97   99.98
2017-01-01 00:00:13   99.97   99.95   99.98   99.99   99.98
2017-01-01 00:00:14   99.96   99.95   99.99   99.99   99.99
2017-01-01 00:00:15   99.97   99.95   99.99  100.01   99.99
2017-01-01 00:00:16   99.97   99.95   99.99  100.00   99.99
2017-01-01 00:00:17   99.97   99.95   99.98   99.99   99.99
2017-01-01 00:00:18   99.98   99.95   99.97   99.99   99.99
2017-01-01 00:00:19   99.98   99.94   99.96   99.99  100.00
2017-01-01 00:00:20   99.98   99.93   99.96   99.97  100.01
2017-01-01 00:00:21   99.96   99.92   99.97   99.98  100.01
2017-01-01 00:00:22   99.95   99.92   99.99   99.98  100.01
2017-01-01 00:00:23   99.94   99.91   99.99   99.96  100.00
2017-01-01 00:00:24   99.95   99.92   99.98   99.97   99.98
2017-01-01 00:00:25   99.94   99.92   99.97   99.98   99.99
2017-01-01 00:00:26   99.94   99.91   99.99   99.98  100.01
2017-01-01 00:00:27   99.93   99.90   99.99   99.99  100.02
2017-01-01 00:00:28   99.93   99.91  100.00  100.00  100.04
2017-01-01 00:00:29   99.92   99.91   99.99   99.99  100.03
...                     ...     ...     ...     ...     ...
2017-01-29 22:26:10  101.75   99.74   73.11   93.11  112.83
2017-01-29 22:26:11  101.76   99.73   73.12   93.11  112.83
2017-01-29 22:26:12  101.76   99.72   73.11   93.11  112.84
2017-01-29 22:26:13  101.75   99.72   73.10   93.11  112.86
2017-01-29 22:26:14  101.75   99.70   73.10   93.11  112.87
2017-01-29 22:26:15  101.75   99.71   73.10   93.11  112.85
2017-01-29 22:26:16  101.76   99.71   73.09   93.11  112.85
2017-01-29 22:26:17  101.76   99.71   73.09   93.09  112.85
2017-01-29 22:26:18  101.76   99.72   73.10   93.09  112.86
2017-01-29 22:26:19  101.76   99.73   73.11   93.09  112.86
2017-01-29 22:26:20  101.77   99.71   73.11   93.09  112.86
2017-01-29 22:26:21  101.78   99.72   73.11   93.08  112.87
2017-01-29 22:26:22  101.78   99.70   73.11   93.08  112.86
2017-01-29 22:26:23  101.78   99.71   73.11   93.06  112.86
2017-01-29 22:26:24  101.78   99.71   73.11   93.07  112.87
2017-01-29 22:26:25  101.79   99.73   73.12   93.07  112.88
2017-01-29 22:26:26  101.80   99.73   73.13   93.07  112.88
2017-01-29 22:26:27  101.79   99.74   73.13   93.08  112.90
2017-01-29 22:26:28  101.79   99.75   73.14   93.07  112.90
2017-01-29 22:26:29  101.78   99.75   73.14   93.06  112.91
2017-01-29 22:26:30  101.77   99.76   73.14   93.05  112.92
2017-01-29 22:26:31  101.76   99.76   73.15   93.04  112.91
2017-01-29 22:26:32  101.75   99.76   73.15   93.05  112.92
2017-01-29 22:26:33  101.75   99.76   73.15   93.07  112.92
2017-01-29 22:26:34  101.77   99.76   73.15   93.06  112.94
2017-01-29 22:26:35  101.77   99.76   73.16   93.06  112.92
2017-01-29 22:26:36  101.78   99.75   73.16   93.07  112.91
2017-01-29 22:26:37  101.77   99.75   73.16   93.09  112.91
2017-01-29 22:26:38  101.76   99.75   73.16   93.09  112.91
2017-01-29 22:26:39  101.77   99.76   73.16   93.09  112.91

[2500000 rows x 5 columns]